<? include_once("views/common/header.html"); ?> 


<div class="container">
  <!-- Хлебные крошки -->
  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<?= FULL_SITE_ROOT . '' ?>">Главная</a></li>
      <li class="breadcrumb-item active" aria-current="page">Акции</li>
    </ol>
  </nav>

<h1 class="middle-description ">Акции</h1>
<p>Здесь Вы&nbsp;найдете информацию обо всех самых актуальных предложениях от компании Платформа&nbsp;ИТ.</p>
    
<div class="album py-2 py ">
      
  <div class="container">
 
    <div class="col ">
      <? foreach ($stocks as $stock): ?>
      <div class="d-flex justify-content-between align-items-center">
        <div class="card shadow-sm d-flex flex-row">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

          <div class="card-body ">
            <p class="card-text "><?= $stock['stock_title']; ?></p>
            <p class="card-text"><?= $stock['stock_description']; ?></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a aria-current="page" href=" <?= FULL_SITE_ROOT . 'product/' . $stock['stock_products_link_id'] ?>"><button type="button" class="btn btn-sm btn-outline-primary">Перейти</button>
                  </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <? endforeach; ?>
    </div>
    <div class="pagination d-flex justify-content-center align-items-center"><?= $pagination->get(); ?> </div>
    
  </div>

</div>
  
</div>


<? include_once("views/common/footer.html"); ?>