<? include_once("views/common/header.html"); ?> 

<!-- Хлебные крошки -->

<div class="container">
  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<?= FULL_SITE_ROOT . '' ?>">Главная</a></li>
      <li class="breadcrumb-item active" aria-current="page">Каталог</li>
    </ol>
  </nav>

<h1 class="middle-description ">Каталог</h1>
<p>Здесь Вы&nbsp;найдете информацию обо всех представленных категориях товаров на&nbsp;сайте Платформа&nbsp;ИТ. </p>
    
<div class="album py-2 py ">
      
  <div class="container">
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <? foreach ($groups as $group): ?>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>

          <div class="card-body">
            <p class="card-text"><?= $group['group_name']; ?></p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a aria-current="page" href=" <?= FULL_SITE_ROOT . 'product/' . $group['group_translit'] ?>"><button type="button" class="btn btn-sm btn-outline-primary">Перейти</button>
                  </a>

              </div>
            </div>
          </div>
        </div>
      </div>
      <? endforeach; ?>
    </div>
    <div class="pagination d-flex justify-content-center align-items-center"><?= $pagination->get(); ?> </div>
    
  </div>

</div>
  
</div>



<? include_once("views/common/footer.html"); ?>