<? include_once("views/common/header.html"); ?> 
      

<? if ($this->isAuthorized) :  ?>
<? if ((isset($_COOKIE["ad"]) && $_COOKIE["ad"]) == 1) : ?> 

<form method="POST">
  <div class="mb-3 container">
    <div class="mb-3">
      <label class="form-label">Наименование вендора</label> <br>
      <input type="text" class="form-control" name="manufacturerName" value ="<?= isset ($manufacturer) ? $manufacturer['manufacturer_name'] : ''; ?>" >
    </div>
    <div class="mb-3 form-floating">
      <label for="floatingTextarea_add">Описание вендора</label> <br>    
    <textarea class="form-control" id="floatingTextarea_add" name="manufacturerDesc"><?= isset ($manufacturer) ? $manufacturer['manufacturer_description'] : ''; ?> </textarea>
    </div>

    <div>
      <label class="form-label" for="product_manufacturer_name">Производитель</label> <br>
      <select name="product_manufacturer_name">
          <? foreach ($manufacturers as $manufacturer): ?>
          <option <?= (isset($product) &&  in_array($manufacturer['manufacturer_id'], $product['manufacturers_getById'] )) ? 'selected': '' ?>
          value=" <?= $manufacturer['manufacturer_id']?>"><?= $manufacturer['manufacturer_name']?></option>
          <? endforeach; ?>
      </select>
    </div>  

    <button type="submit" class="btn btn-primary">
      <?= isset($manufacturer) ? 'Изменить' : 'Добавить'; ?> 
      </button>

  </div>
</form>
<? endif; ?> 
<? endif; ?> 


<? include_once("views/common/footer.html"); ?>
