


<? include_once("views/common/header.html"); ?> 
<? if ($this->isAuthorized) :  ?>
<? if ((isset($_COOKIE["ad"]) && $_COOKIE["ad"]) == 1) : ?> 
<div class="container">
    
    <a type="submit" class="btn btn-primary" href="<?= FULL_SITE_ROOT . 'manufacturer/add'; ?>">
    Добавить
    </a>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Наименование</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <? foreach ($manufacturers as $manufacturer): ?>
                <tr>
                    <td> <?= $manufacturer['manufacturer_id']; ?> </td>
                    <td> <?= $manufacturer['manufacturer_name']; ?> </td>
                    <td>
                        <? if($this->isAuthorized) : ?>
                        <a type="submit" class="btn btn-success" href="<?= FULL_SITE_ROOT . 'manufacturer/edit/' . $manufacturer['manufacturer_id'] ; ?>">
                            Изменить
                            </a>
                        <button type="submit" class="btn btn-danger" onclick="remove('manufacturer', <?= $manufacturer['manufacturer_id']; ?> )">
                                Удалить
                        </button>
                        <? endif; ?>
                    </td>
                </tr>
                <? endforeach; ?>
        </tbody>
    </table>

</div>
    <?= $pagination->get(); ?>
    <? endif; ?> 
    <? endif; ?> 
<? include_once("views/common/footer.html"); ?>