<? include_once("views/common/header.html"); ?> 

<!-- Хлебные крошки -->


<div class="container">
  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a class="breadcrumb-item_link" href="<?= FULL_SITE_ROOT . '' ?>">Главная</a></li>
      <li class="breadcrumb-item active" aria-current="page">Юридическая информация</li>
    </ol>
  </nav>

<h1 class="middle-description ">О компании</h1>
<p>Здесь Вы&nbsp;найдете информацию о&nbsp; данных юридического лица и историю компании Платофрма ИТ.</p>

<!-- Реквизиты -->
<div class="container ">

<div class="col col-12 group__name">


<div class="row align-items-start">
  <div><h3>История</h3>
  </div>
  <div class="col col-12 group__name">
    <div>
      <div>
        <p> 
          Работаем с&nbsp;2011&nbsp;года. Основное направление Сетевое и&nbsp;VOip оборудование. Помогаем развиваться вашему бизенсу на&nbsp;всех этапах.
        </p>
    </div>

  </div>
</div>

<div class="row align-items-start">
  <div><h3>Реквизиты</h3></div>
    <div class="col col-12 group__name">
      <div>
        <div>
          <p> 
            ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ПЛАТФОРМА ИТ"<br>
            ОГРН<br>
            1117847534310<br>
            ИНН/КПП<br>
            7816526418<br>
            784201001<br>
            Юридический адрес<br>
            191123, город Санкт-Петербург, ул Радищева, д. 39 литера Д, помещ. 5-н ч. пом. 54<br>
            Руководитель<br>
            Генеральный директор<br>
            Иванов Иван Иванович<br>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<? include_once("views/common/footer.html"); ?>
