<? include_once("views/common/header.html"); ?> 

<!-- Хлебные крошки -->
<div class="container">
  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<?= FULL_SITE_ROOT . '' ?>">Главная</a></li>
      <li class="breadcrumb-item active" aria-current="page">Справочная информация</li>
    </ol>
  </nav>

  <h1 class="middle-description ">Как купить</h1>
  <p>Здесь Вы&nbsp;найдете информацию о&nbsp;возможных вариантах приобретения товара.</p>

  <!-- Как оформить всё -->
  <div class="container ">
    <div class="row align-items-start">
      <div class="col col-12 group__name">
      <div>
        <p>Как оформить заказ</p>
        <p>Оформить заказ на&nbsp;нашем сайте легко. Просто добавьте выбранные товары в&nbsp;корзину, а&nbsp;затем перейдите на&nbsp;страницу Корзина, 
          проверьте правильность заказанных позиций и&nbsp;нажмите кнопку &laquo;Оформить заказ&raquo;.
        </p>
      </div>
      <div>
        <p>Условия оплаты</p>
        <p>Все цены на&nbsp;сайте включают НДС!<br>
          Наш интернет-магазин не&nbsp;работает с&nbsp;наложенным платежом!<br>
          Цена на&nbsp;заказанный товар действительна в&nbsp;течение 2&nbsp;дней с&nbsp;момента оформления Заказа.
        </p>
      </div>
      <div>

      </div>
        <p>Условия доставки</p>
        <p>Мы&nbsp;осуществляем бесплатную доставку по&nbsp;Санкт-Петербургу в&nbsp;пределах КАД при заказе на&nbsp;сумму свыше 5&nbsp;000 рублей (стоимость доставки на&nbsp;меньшую сумму&nbsp;&mdash; 400&nbsp;рублей).
          Стоимость доставки для тяжелых и/или крупногабаритных грузов (свыше 30&nbsp;кг) по&nbsp;Санкт-Петербургу в&nbsp;пределах КАД&nbsp;&mdash; 800&nbsp;рублей.
          Доставка бесплатна при заказе от&nbsp;10000&nbsp;рублей.<br>
          Для наших постоянных клиентов доставка всегда бесплатная!*<br>
          Самовывоза нет.</p>
      </div>
    </div>
  </div>
</div>
<? include_once("views/common/footer.html"); ?>
