<? include_once("views/common/header.html"); ?> 

<!-- Хлебные крошки -->



<!-- Категории -->

<!-- <? foreach ($mainGroups as $mainGroup): ?>
<?= $mainGroup['group_name']; ?>

<? endforeach; ?> -->


<div class="container">
  <nav aria-label="breadcrumb ">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="<?= FULL_SITE_ROOT . '' ?>">Главная</a></li>
      <li class="breadcrumb-item active" aria-current="page">Контакты</li>
    </ol>
  </nav>

  <h1 class="middle-description ">Как связаться?</h1>
  <p>Здесь Вы&nbsp;найдете информацию о&nbsp;местонахождении и контактах компании.</p>

  <!-- Как оформить всё -->
  <div class="container ">
        <div class="row align-items-start">
          <div class="col col-12 group__name">
            <p>Как с нами связаться </p>

            <div class="col-md-6">
              <div class="footer__heading">Контакты</div>
              <address class="address">
                <a class="address__item" href="mailto:platofrm-it.ru">  <i class="fas fa-envelope"></i> platform-it@yandex.ru</a><br>
                <a class="address__item" href="tel:+78124567007">  <i class="fas fa-phone-alt"></i> +&nbsp;7(812)&nbsp;4567007</a><br>
                <a class="address__item" href="#">  <i class="fas fa-map-marker"></i> Санкт-Петербург, ул.&nbsp;Радищева, д.&nbsp;39 литера&nbsp;Д, пом.&nbsp;54</a>    
              </address>
            </div>
          </div>
        </div>
  </div>
</div>

<? include_once("views/common/footer.html"); ?>
