<? include_once("views/common/header.html"); ?> 

     <!-- <? if($this->isAuthorized) : ?>
    <a type="submit" class="btn btn-primary " href="<?= FULL_SITE_ROOT . 'product/add'; ?>">
    Добавить
    </a>
    <? endif; ?> -->





<div class="container">

    <nav aria-label="breadcrumb ">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<?= FULL_SITE_ROOT . '' ?>">Главная</a></li>
        <li class="breadcrumb-item active"><a href="<?= FULL_SITE_ROOT . 'product/'  . $product['group_translit'] ?>"><?= $product['group_name'] ?></a></li>          
        <? if(isset($h1)) : ?>
        <li class="breadcrumb-item active"><?= $h1 ?></li>
        <? endif; ?>
      </ol>
    </nav>
         
    <? if(isset($h1)) : ?>
      <div class="container">
          <h1><?= $h1 ?></h1>
      </div>
    <? endif; ?>

        <div class="album py-2 py ">

    
          <div class="container">
         
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
              <div class="col-3">
                <div class="card shadow-sm">
                  <div class="card card-img d-flex justify-content-between align-items-start">
                  <img class="product_img_link" width="25%" height="25%"
                   src=" <?= $src; ?> " 
                   alt="<?= $product['product_name']; ?> <?= $product['product_art']; ?>">
                  </div>
                  <div class="card-body">
                    <div class="product-name">
                      <p class="product-name__name">Наименование</p>
                      <p class="product-name__title"><?= $product['product_name']; ?> <?= $product['product_art']; ?></p>
                    </div>
                    <div class="product-art">
                      <p class="product-art__name">Артикул</p>
                      <p class="product-art__title"><?= $product['product_art']; ?></p>
                    </div>
                    <div class="product-manufacturer">
                      <p class="product-manufacturer__name">Производитель</p>
                      <p class="product-manufacturer__title"><?= $product['product_art']; ?></p>
                    </div>
                    <p class="card-text"> <?= $product['product_name']; ?> <?= $product['product_art']; ?></p>
                    <!-- <?= $product['product_name']; ?> <?= $product['product_art']; ?> -->
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a aria-current="page" href=" <?= FULL_SITE_ROOT . 'groups' ?>"><button type="button" class="btn btn-sm btn-outline-primary">В корзину</button>
                          </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
            
          </div>

      
</div>



<? include_once("views/common/footer.html"); ?>